.carta {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 560px;
    max-width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}