.editor-painel 
{
    position: relative;
    margin-bottom: auto;
    margin-left: 30px;
}

.adicionarEditor {
    width: 50px;
    height: 50px;
    border-radius: 36%;
    background: white;
    color: black;
    border: none;
    font-size: 31px;
    cursor: pointer;
}

.menuAdicionar {
  position: absolute;
  left: 70px;
  top: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 180px;
  z-index: 100;
  color: black;
}

.editor-painel .formulario
{
    display: flex;
    color: black;
    margin-top: 19px;
    position: absolute;
    width: 200px;
    padding: 13px;
    height: 540px;
    flex-direction: column;
    gap: 11px;
    border: none;
    background: white;
    border-radius: 13%;
    align-items: center;
}