.ListaCartas {
  display: flex;
  flex-wrap: wrap; 
  gap: 2vw;
  border: 3px solid #000000;
  border-radius: 15px;
  padding: 20px;
  margin: 0 auto;
  width: fit-content;
  background: rgb(35, 34, 53);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.315);
}
