 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.app{
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header 
{
  background-color: rgb(26, 26, 41);
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.226);
  text-align: center;
  color: white;
}
.titulo h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.footer {
  background-color: rgb(26, 26, 41);
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  margin-top: auto;
  box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.226);
}

.inicial {
  margin-left: 10px;
}

.editor {
  margin-left: 10px;
}

.editorCentral {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

.exibeCartas{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.cartaInicial{
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 280px;
}
.cartaMiniatura {
   transform: scale(0.5);
  transform-origin: top left;
}

.novaCarta {
  cursor: pointer;
  border: 2px dashed #aaa;
  border-radius: 12px;
  background: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease;
  width: 200px;
  height: 280px;
  opacity: 0.85;
  position: relative;
}

.novaCarta:hover {
  opacity: 1;
  border-color: #666;
  background: #cfcfcf;
}

.cartaPlaceholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 95px;
  font-weight: 700;
  color: #777;
  transform: translate(90px, 260px);
}