
.container-botao {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.btn-novo-deck {
  padding: 10px 16px;
 
  background: rgb(28, 27, 43);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}

.btn-novo-deck:hover {
  background: rgb(17, 16, 26);
}
