.carta {
    position: relative;
    width: 320px;
    height: 450px;
    max-width: 100%;
    aspect-ratio: 320 / 450;
    background-image: url(assets/template/Normal.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow-x: hidden;
}

.Repartedor{    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.Repartedor .Nome {
    position: absolute;
    font-family: 'NomeCarta', sans-serif;
    width: 78%;
    top: 3%;
    margin-left: 12%;
}

.Repartedor .desc {
    font-family: 'DescCarta', serif;
   position: absolute;
    top: 75.5%;
    height: 15%;
    left: 7%;
    right: 7%;
    line-height: 1.3;
    box-sizing: border-box;
    padding: 2px 3px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.Repartedor .ataque{
    font-family: 'DescCarta', serif;
    position: absolute;
    right: 30%;
    bottom: 5%;
}

.Repartedor .defesa{
    font-family: 'DescCarta', serif;
    position: absolute;
    right: 8%;      
    bottom: 5%;    
}

.Repartedor .nivel{
    position: absolute;
    display: flex;
    top: 12.3%;
    width: 80%;
    right: 9%;
    gap: clamp(2px, 0.5vw, 5px);
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.Repartedor .nivel > img {
    aspect-ratio: 25 / 25;
    width: clamp(5px, 2vw, 15px);
    height: clamp(5px, 2vw, 15px);
   
}