.carta {
    position: relative;
    width: 320px;
    height:  450px;
    max-width: 100%;
    aspect-ratio: 320 / 450;
    background-image: url('./assets/template/Normal.png');
    background-size: 100% 100%;
    background-position: center;   
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.08);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
}

.Repartedor{    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.Repartedor .Nome {
    position: absolute;
    width: 78%;
    top: 3%;
    margin-left: 12%;
}

.Repartedor .desc {
   position: absolute;
    top: 75.5%;
    height: 15%;
    left: 7%;
    right: 7%;
    line-height: 1.3;
    box-sizing: border-box;
    padding: 2px 3px;
    overflow-y: auto;
    overflow-x: hidden;
}

.Repartedor .ataque{
    position: absolute;
    right: 27%;
    bottom: 5%;
    font-size: 12px;
}

.Repartedor .defesa{
    position: absolute;
    right: 8%;      
    bottom: 5%;    
    font-size: 12px;
  
}
