.imagem{
    position: absolute;
    aspect-ratio: 450 / 450;
    background-size: 100% 100%;
    background-image: url(/ufjf-dcc207-2025-3-a-sem01-altf4/src/assets/template/samurai.png);
    width: 77%;
    height: 52%;
    top: 18.5%;
    left: 11.5%;
}