:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  place-content: center;
  min-height: 100vh;
  background-color: rgb(47, 46, 71);

}
@font-face {
  font-family: 'NomeCarta';
  src: url(assets/font/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 2.ttf);
}
@font-face {
  font-family: 'DescCarta';
  src: url(assets/font/Yu-Gi-Oh!\ ITC\ Stone\ Serif\ LT\ Italic.ttf);
}
.titulo h1 {
  text-align: center;
  margin: 40px 0;
  margin: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4vw;
  color: #ffffff;
  font-weight: 600;
}
